input:not([type=submit]) {
  display: flexbox;
  flex-direction: column;
}
.componente {
  border: 1px black solid;
  border-radius: 25px;
  width: min-content;
  height: min-content;
}

.plus {
  font-size: xx-large;
  font-weight: bolder;
}