* {
  text-align: center;
  margin: 5px;
}

form {
  border: 1px black solid;
  border-radius: 25px;
}

.input {
  border: 1px black solid;
  border-radius: 25px;
  width: fit-content;
  margin: 0px auto 0px auto;
}

input:not([type=submit]) {
  display: inline-block;
  border: none;
  margin: auto auto;
}

input[type=submit] {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #faa702;
  border-radius: 25px;
}

input[type=submit]:hover {
  background-color: #c08103;
}